<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Bootstrap Three Texts in a Row</title>
    <style>
        .col {
            overflow-wrap: break-word; /* Prevent text overlap */
            word-wrap: break-word; /* For older browser support */
        }
    </style>
</head>

<body>

    <div class="container">
       
            <div class="row">
                <div class="col-sm-2 col-12 align-self-start align-self-sm-center text-center">
                    <img class="img-fluid" src="~/Neupert_Titus-1698x2123-184x232.jpg" alt="Image" />
                </div>
            <div class="col-sm-10 col-12 align-self-sm-center">
                        <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ante nisl, feugiat non imperdiet quis, iaculis eu justo. Suspendisse convallis sapien nec est venenatis, non consectetur mauris faucibus...</p>
                </div>
            </div>
        
    </div>





    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-sm d-flex align-items-center">
                <p>
                    This is a long text that should wrap within the column if it's too long to fit.
                    This is a long text that should wrap within the column if it's too long to fit.
                    This is a long text that should wrap within the column if it's too long to fit.
                    This is a long text that should wrap within the column if it's too long to fit.
                    This is a long text that should wrap within the column if it's too long to fit.
                    This is a long text that should wrap within the column if it's too long to fit.
                    <!-- ... (rest of your text) -->
                </p>
            </div>
            <div class="col-sm d-flex align-items-center">
                <img class="img-fluid mx-auto d-block" src="~/mercedes-logo-home-page-palm-beach-classics-8.png" alt="Mercedes Logo" />
            </div>
            <div class="col-sm d-flex align-items-center">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices mi non tristique.
                    This is a long text that should wrap within the column if it's too long to fit.
                    This is a long text that should wrap within the column if it's too long to fit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultrices mi non tristique.
                    This is a long text that should wrap within the column if it's too long to fit.
                    This is a long text that should wrap within the column if it's too long to fit.
                    <!-- ... (rest of your text) -->
                </p>
            </div>
        </div>
    </div>
    <div class="custom-container">
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex  ">
                <div class="col-sm d-flex ">
                    <p>
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        This is a long text that should wrap within the column if it's too long to fit.
                        <!-- ... (rest of your text) -->
                    </p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 d-flex ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-12  d-flex align-items-center text-center">
                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Donec varius "</p>
                        </div>
                        <div class="col-sm-12 col-md-6 col-md d-flex align-items-center">
                            <img class="img-fluid" src="~/mercedes-logo-home-page-palm-beach-classics-8.png" alt="Mercedes Logo" />
                        </div>

                        <div class="col-sm-12 col-md-6 d-flex align-items-center">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius venenatis neque, id commodo magna fermentum id. Lorem ipsum dolor sit amet, . Donec varius venenatis neque, id commodo magna fermentum id. Lorem ipsum dolor sit amet,
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .custom-container {
            padding-bottom: 50px; /* Adjust the value as needed */
        }
    </style>



    


    

</body>